body {
  margin: 5%;
  background-color: #f8f8f8f8;
}

h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 20px;
}

p {
  text-indent: 2em;
  line-height: 155%;
  letter-spacing: 0.05em;

  font-size: 18px;
  font-weight: 500;

  margin-top: 5px;
  margin-bottom: 5px;
}

li p {
  text-indent: -2em;
  padding-left: 2em;
  line-height: 150%;
}

li {
  list-style: none;
}

a { transition-property: color; transition-duration: .5s; }
a:link { color: black; text-decoration: none; }
a:active { color: skyblue; text-decoration: none; }
a:visited { color: black; text-decoration: none; }
a:hover { color: skyblue; text-decoration: none; }

.content {
  margin: 0;
  opacity: 0.7;
  max-height: 100px;
}

@media (max-width: 35em) {
  .content {
    margin: 0;
    opacity: 0.7;
    max-height: 220px;
  }
}

.text {
  margin: 3vw;
}

.index {
  margin: 0 5vw;
}

.footer {
  padding-top: 10vh;
  padding-left: 50vw;
}

.footer i p {
  color: #777;
}
